.text-color {
    color: white;
}

.background-color {
    background-color: black;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:hover {
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:link {
    color: white;
    text-decoration: none;
}
