body {
    font: 76% Arial, Helvetica, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

.body {
    height: auto !important;
    margin: 0 auto -20px;
    min-height: 86%;
}

.heading {
    background-color: #0000af;
    height: 25px;
    margin: 0 auto;
    padding-top: 5px;
}

header {
    color: white;
    font-weight: bold;
    text-align: center;
}

.heading .theme {
    float: left;
    margin-right: 10px;
    width: 150px;
}

footer {
    background-color: #0000af;
    color: white;
    height: 20px;
    padding-top: 2px;
    text-align: center;
}

nav {
    border: thin solid;
    height: 30px
}

nav li {
    display: block;
    float: left;
    list-style-type: none;
    padding-bottom: 5px;
    width: 50px;
}

.spacer {
    height: 10px
}

.folder {
    float: left;
    width: 265px
}

.contents {
    margin-left: 275px
}

.item {
    font-size: x-small;
}

#push {
    height: 20px;
}

.errors {
    color: red;
}

form label {
    font-weight: bold;
    padding-right: 3px;
}

form fieldset {
    border: 0;
}

form fieldset li {
    list-style-type: none;
    margin: 0 0 1em 10em;
}

.item span {
    color: red;
    text-decoration: blink
}

.error-page {
    margin: 10px;
    width: 550px;
}
