.text-color {
    color: black;
}

.background-color {
    background-color: white;
}

a:hover {
    font-weight: bold;
    color: black;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:link {
    color: black;
    text-decoration: none;
}
